body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexColor{
    text-transform: capitalize;
}

.hexBtn{
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    font-size: 1.6rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.hexBtn:hover{
    background: rgb(0,0,0);
    
}

.container{
    text-align: center;
}

.hex{
    font-size: 3rem;
}